.row {
    display: flex;
    flex-direction: row;
}

/* Gap */

.row-gap-none { gap: 0; }
.row-gap-xs   { gap: .25rem; }
.row-gap-sm   { gap: .5rem; }
.row-gap-md   { gap: 1rem; }
.row-gap-lg   { gap: 1.5rem; }
.row-gap-xl   { gap: 2rem; }

/* Justify */

.row-justify-start {
    justify-content: flex-start;
}

.row-justify-center {
    justify-content: center;
}

.row-justify-end {
    justify-content: flex-end;
}

.row-justify-between {
    justify-content: space-between;
}

.row-justify-around {
    justify-content: space-around;
}

/* Align */

.row-align-start {
    align-items: flex-start;
}

.row-align-center {
    align-items: center;
}

.row-align-end {
    align-items: flex-end;
}

.row-align-stretch {
    align-items: stretch;
}