.stack {
    display: flex;
    flex-direction: column;
}

/* Gaps */

.stack-gap-none {
    gap: 0;
}

.stack-gap-xs {
    gap: .25rem;
}

.stack-gap-sm {
    gap: .5rem;
}

.stack-gap-md {
    gap: 1rem;
}

.stack-gap-lg {
    gap: 1.5rem;
}

.stack-gap-xl {
    gap: 2rem;
}

/* Alignment */

.stack-align-start {
    align-items: flex-start;
}

.stack-align-center {
    align-items: center;
}

.stack-align-end {
    align-items: flex-end;
}

.stack-align-stretch {
    align-items: stretch;
}