@import "./tokens.css";

*,
*::before,
*::after{
    box-sizing:border-box;
}

html{

    font-family:var(--font-family);

}

body{

    margin:0;

    background:var(--color-background);

    color:var(--color-text);

    font-size:var(--font-size-md);

}

button,
input,
select,
textarea{

    font:inherit;

}