.row {
    display: flex;
    flex-direction: row;
}

/* Gap */

.row-gap-none { gap: 0; }
.row-gap-xs   {  gap:var(--space-xs); }
.row-gap-sm   {  gap:var(--space-sm); }
.row-gap-md   {  gap:var(--space-md); }
.row-gap-lg   {  gap:var(--space-lg); }
.row-gap-xl   {  gap:var(--space-xl); }

/* Justify */

.row-justify-start {
    justify-content: flex-start;
}

.row-justify-center {
    justify-content: center;
}

.row-justify-end {
    justify-content: flex-end;
}

.row-justify-between {
    justify-content: space-between;
}

.row-justify-around {
    justify-content: space-around;
}

/* Align */

.row-align-start {
    align-items: flex-start;
}

.row-align-center {
    align-items: center;
}

.row-align-end {
    align-items: flex-end;
}

.row-align-stretch {
    align-items: stretch;
}